@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Orbitron:wght@500&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
*
{
    margin: 0 0;
    padding: 0 0;
}


body 
{
    z-index: -1;
    background: url(media/parcheminBG.jpg) no-repeat center;
    background-size: cover;
}
#logo img
{
    width: 35%;
    height: 70px;
    animation: 2s;
    
}

nav
{
    width: 65%;
    height: 70px;
    background-color: black;
    float: right;
    animation: 2s;
    
    
}
nav ul{
    display: none;
}

nav #burger img{
    float: right;
    height: 30px;
    padding-top: 20px;
}
article
{
    width: 100%;
    margin-bottom: 1rem;

}

#photo
{
    display: flex;
    justify-content: center;

}

#photo img
{
   width: 90%;
   border-radius: 10px;
   height: 300px;
   margin-top: 1rem;
}

.formule
{
    width: 100%;
    /* height: 1000px; */
    display: flex;
    justify-content: center;
}
.formule form
{
   background: url(media/brique.jpg);
   border-radius: 10px;
   width: 90%;
   /* height: 200px; */
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-evenly;


}

.formule form input
{
    
    width: 80%;
    padding: 15px;
    border-radius: 6px;
    margin: 1rem;
}

.formule form textarea
{

    width: 80%;
    padding:15px;
    height: 80px;
    box-shadow: inset 1px 1px 1px 1px #000;
    border-radius: 6px;
    margin: 1rem;
    
}
.align
{
    font-family: Arial, Helvetica, sans-serif;
}
#onebtn
{
    background: #fff;
    border-radius: 6px;
    margin: 1rem; 
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border: 2px solid #000;
}
    
#onebtn:hover
{
    background: rgba(255, 136, 1, 0.89);
    margin: 1rem; 
    display: inline-block;
    padding: 10px;


}
.uneform
{
    background: url(media/lefond.jpg);
    width: 100%;
    height: 230px;
    margin-top: 1rem;
   
}
.footer-right 
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 1px auto 1px auto;
    padding-top: 1rem;
   
}
.footer-right i {
    font-size: 25px;
    color: white;
    order: 2;
    
}
#premiereprenom{
    order: 1;
    text-align: center;
}
#deuxiemeprenom
{
    order: 3;
    text-align: center;
}
.footer-right i:hover {
    background-color: white;
    color: #000;
    border-radius: 100% 100% 100% 100%;
    padding: 5px 5px 5px 5px;
    transition: 0.5s;
}
.footer-right h2 
{
    font-size: 15px;
    color: white;
    height: 25px;
    font-family: 'Permanent Marker', cursive;
}
.trait
{
    width: 80%;
    margin: 10px auto;
    height: 1px;
    background-color: #fff;
}


.footer-left 
{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.footer-left i 
{
    font-size: 30px;
    color: white;
    
}
#font1:hover
{
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    color: yellow;
}
#font2:hover
{
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    color:orange;
}
#font3:hover
{
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    color: rgb(85, 96, 255);
}
#mention
{
    width: 90%;
    margin: 2px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
#mention p{
    padding: 3px 3px;
    color: #fff;
    text-align: center;
    font-size: 12px;
}
.container{
    align-items: center;
    display: flex;
    justify-content: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    text-align: center;
    top: 0;
    visibility: hidden;
    z-index: 2000;
    width: 100%;
}
.monimage
{
    background: url(media/dormirmobile.jpg) no-repeat center;
    background-size: cover;
    width: 90%;
    margin: auto auto;
    z-index: -1;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items:center;    
      max-width: 100%;
      opacity: 1;
      position: relative;
}
.monimage p
{
    width: 75%;
    color: #fff;
    opacity: 0.9;
    font-size: 25px;
    text-align: center;
    padding-top: 3rem;
    
}
.monimage #warning{
   z-index: 1;
   font-size: 50px;
   color: yellow;
   opacity: 0.8;
   padding-top: 1rem;
}
.monimage #croix
{
    position:absolute;
    font-size: 20px;
    opacity: 0.8;
    cursor: pointer;
    right:20px;
    top:20px;
    z-index: 2;
    color:#fff;
}
.monimage #croix:hover
{
   color: red;
}



@media screen and (min-width: 768px) and (max-width: 1024px)

{
    nav #burger img
    {
        display: none;
    }
    header #logo img 
    {
       
       width: 25%;
       height: 90px;
    }
    nav {
       
        width: 75%;
        height: 90px;
    }
    nav ul 
    {
        display: flex;
        justify-content: flex-end;
        padding-top: 20px;
       
       
    }
    nav ul li {

        text-decoration: none;
        list-style: none;
        align-items: center;
        padding: 18px;
        font-family: 'Permanent Marker', cursive;

    }
    nav ul li a {
        color: rgba(255, 136, 1, 0.89);   
        font-size: 20px; 
    
    }
    nav ul li a:hover{
        text-decoration: underline;
        color: rgb(168, 161, 161);
    }
    #photo img {
        height: 450px;
        border-radius: 18px;
    }
    #onebtn{
        padding: 18px;
        background-color: #fff;
    }
    #onebtn:hover
{
    background: rgba(255, 136, 1, 0.89);
    display: inline-block;
    padding: 18px;


}
.uneform
{
    background: url(media/lefond.jpg);
    width: 100%;
    height: 430px;
    margin-top: 1rem;
   
}

.mesblock
{
    background: url(media/lefond.jpg);
    width: 100%;
    height: 200px;
    display: inline-flex;
    margin-top: 1rem;
   
}
.footer-right
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 55%;
    padding-top: 1rem;
   
   
}
.footer-right i {
    font-size: 30px;
    color: white;
    order: unset;
    
}
.footer-right i:hover {
   background-color: white;
   color: #000;
   border-radius: 100% 100% 100% 100%;
   padding: 10px 10px 10px 10px;
   transition: 0.5s;
   cursor: pointer;
   
    
}
.footer-right h2 
{
    font-size: 20px;
    color: white;
    height: 30px;
    font-family: 'Permanent Marker', cursive;
}
#deuxiemeprenom
{
    margin-top: -20px;
}

.trait
{
    height: 170px;
    color: white;
    background-color: white;
    width: 3px;
    align-items: center;
    margin: 1rem 1rem;

}
.footer-left 
{
    display: flex;
    width: 50%;
    margin-top: 5rem;
}


.footer-left i 
{
    font-size: 40px;
    color: white;
    height: 50px;

    
}
#font1
{
    transform: rotate(-45deg);
}
#font2
{
    transform: rotate(45deg);
}
#font3
{
    transform: rotate(-45deg);
}
#font1:hover
{
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out 0s;
    color: yellow;
}
#font2:hover
{
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out 0s;
    color:orange;
}
#font3:hover
{
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out 0s;
    color: rgb(85, 96, 255);
}
#mention 
{
    width: 80%;
    margin: 2px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mention p{
    padding: 5px 5px;
    color: #fff;
    font-size: 20px;
}
.monimage
{
    background: url(media/dormir.jpg) no-repeat center;
    background-size: cover;
    width: 80%;
    margin: auto auto;
    z-index: -1;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items:center;    
      max-width: 100%;
      opacity: 1;
      position: relative;
}
.monimage p
{
    width: 60%;
    color: #fff;
    opacity: 0.9;
    font-size: 30px;
    text-align: center;
    padding-top: 3rem;
    
}
.monimage #warning{
   z-index: 1;
   font-size: 90px;
   color: yellow;
   opacity: 0.8;
   padding-top: 2rem;
}
.monimage #croix
{
    position:absolute;
    font-size: 40px;
    opacity: 0.8;
    cursor: pointer;
    right:25px;
    top:20px;
    z-index: 2;
    color:#fff;
}





    
}
@media screen and (min-width: 1024px)
{
    nav #burger img
    {
        display: none;
    }
    header #logo img {
        width: 15%;
        height: 90px;
       
    }
    nav {
        width: 85%;
        height: 90px;
    }
    nav ul 
    {
        display: flex;
        justify-content: space-around; 
        float: right;
        width: 70%;
       
    }
    nav ul li {

        text-decoration: none;
        list-style: none;
        align-items: center;
        padding: 29px;
        font-family: 'Permanent Marker', cursive;


    }
    nav ul li a {
        color: rgba(255, 136, 1, 0.89);   
        font-size: 24px; 
    
    }
    nav ul li a:hover{
        text-decoration: underline;
        color: rgb(170, 154, 154);
    }

    #photo img {
        height: 90vh;
        border-radius: 25px;
    }
    .formule form input
{
   
    margin: 2rem;
}

.formule form textarea
{

    margin: 2rem;
    height: 110px;
    
}
#onebtn
{
    margin: 2rem; 
    background-color: #fff;
    

}
.uneform
{
    margin-top: 2rem;
}
#onebtn{
    padding: 25px;
}
#onebtn:hover
{
    background: rgba(255, 136, 1, 0.89);
    display: inline-block;
    padding: 25px;
    margin: 2rem;


}
.uneform{
    background:url(media/lefond.jpg);
    background-size: cover;
    height: 540px;

}
.mesblock
{
    width: 100%;
    height: 300px;
    display: inline-flex;
    justify-content: center;
    margin-top: 5px;
   
}
.footer-right
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 45%;
    padding-top: 3rem;
   
   
}
.footer-right i {
    font-size: 50px;
    color: white;
    padding-bottom: 15px;
    order: unset;
    
}
.footer-right i:hover {
   background-color: white;
   color: #000;
   border-radius: 100% 100% 100% 100%;
   padding: 15px 15px 15px 15px;
   transition: 0.5s;
   cursor: pointer;
   
    
}
.footer-right h2 
{
    font-size: 25px;
    color: white;
    height: 50px;
    font-family: 'Permanent Marker', cursive;
}
#deuxiemeprenom
{
    margin-top: -5px;
}


.trait
{
    height: 300px;
    color: white;
    background-color: white;
    width: 3px;
    align-items: center;
    margin-top: 2rem;
    margin-left: 0px;

}
.footer-left 
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}


.footer-left i 
{
    font-size: 80px;
    color: white;
    height: 100px;
    
}

#font1
{
    transform: rotate(-45deg);
}
#font2
{
    transform: rotate(45deg);
}
#font3
{
    transform: rotate(-45deg);
}
#font1:hover
{
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out 0s;
    color: yellow;
}
#font2:hover
{
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out 0s;
    color:orange;
}
#font3:hover
{
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out 0s;
    color: rgb(85, 96, 255);
}
#mention{
    width: 50%;
    margin-top: 4rem;
}
#mention p{
   font-size: 20px;
}
.monimage
{
    background: url(media/dormir.jpg);
    width: 80%;
    height: 70vh;
    margin: auto auto;
    z-index: -1;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items:center;    
      max-width: 100%;
      opacity: 1;
      position: relative;
}
.monimage p
{
    width: 50%;
    color: #fff;
    opacity: 0.9;
    font-size: 30px;
    text-align: center;
    padding-top: 6rem;
    
}
.monimage #warning{
   z-index: 1;
   font-size: 100px;
   color: yellow;
   opacity: 0.8;
   padding-top: 4rem;
}
.monimage #croix
{
    position:absolute;
    font-size: 40px;
    opacity: 0.8;
    cursor: pointer;
    right:20px;
    top:20px;
    z-index: 2;
   color: #fff;
}

}