@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Orbitron:wght@500&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
*
{
    margin: 0 0;
    padding: 0 0;
}


body 
{
    z-index: -1;
    background-image: url(media/fondimage.jpg)
}
#logo img
{
    width: 35%;
    height: 70px;
}

nav
{
    width: 65%;
    height: 70px;
    background-color: black;
    float: right;
}
nav ul{
    display: none;
}

nav #burger img{
    float: right;
    height: 30px;
    padding-top: 20px;
}
article
{
    width: 100%;
    margin-bottom: 1rem;

}

#photo
{
    display: flex;
    justify-content: center;

}

#photo img
{
   width: 90%;
   border-radius: 10px;
   height: 300px;
   margin-top: 1rem;
}

.formule
{
    width: 100%;
    /* height: 1000px; */
    display: flex;
    justify-content: center;
}
.formule form
{
   background-color: black;
   border-radius: 10px;
   width: 90%;
   /* height: 200px; */
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-evenly;


}

.formule form input
{
    
    width: 80%;
    padding: 15px;
    border-radius: 6px;
    margin: 1rem;
}

.formule form textarea
{

    width: 80%;
    padding:15px;
    height: 80px;
    border-radius: 6px;
    margin: 1rem;
    
}
#onebtn
{
    background: rgb(172, 159, 159);
    border-radius: 6px;
    margin: 1rem; 
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}
#onebtn:hover
{
    background: rgba(255, 136, 1, 0.89);
    margin: 1rem; 
    display: inline-block;
    padding: 10px;


}
.uneform
{
    background: black;
    width: 100%;
    height: 400px;
    margin-top: 1rem;
   
}
.footer-right
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 65%;
    margin: 1px auto 1px auto;
    padding-top: 1rem;
   
}
.footer-right i {
    font-size: 40px;
    color: white;
    padding-bottom: 15px;
    
}
.footer-right i:hover {
    background-color: white;
    color: #000;
    border-radius: 100% 100% 100% 100%;
    padding: 15px 15px 15px 15px;
    transition: 0.5s;
}
.footer-right h2 
{
    font-size: 25px;
    color: white;
    height: 50px;
    font-family: 'Permanent Marker', cursive;
}


.footer-left 
{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.footer-left i 
{
    font-size: 60px;
    color: white;
    height: 100px;
    
}
#font1:hover
{
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    color: yellow;
}
#font2:hover
{
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    color:orange;
}
#font3:hover
{
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    color: rgb(85, 96, 255);
}


@media screen and (min-width: 768px) and (max-width: 1024px)

{
    nav #burger img
    {
        display: none;
    }
    header #logo img 
    {
       
       width: 25%;
    }
    nav {
       
        width: 75%;
    }
    nav ul 
    {
        display: flex;
        justify-content: flex-end;
       
       
    }
    nav ul li {

        text-decoration: none;
        list-style: none;
        align-items: center;
        padding: 18px;
        font-family: 'Permanent Marker', cursive;

    }
    nav ul li a {
        color: rgba(255, 136, 1, 0.89);   
        font-size: 20px; 
    
    }
    nav ul li a:hover{
        text-decoration: underline;
        color: rgb(168, 161, 161);
    }
    #photo img {
        height: 450px;
        border-radius: 18px;
    }
    #onebtn{
        padding: 18px;
        background-color: rgb(172, 159, 159);
    }
    #onebtn:hover
{
    background: rgba(255, 136, 1, 0.89);
    display: inline-block;
    padding: 18px;


}

.uneform
{
    background: black;
    width: 100%;
    height: 500px;
    display: inline-flex;
    margin-top: 2rem;
   
}
.footer-right
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 45%;
    padding-top: 6rem;
   
   
}
.footer-right i {
    font-size: 70px;
    color: white;
    padding-bottom: 35px;
    
}
.footer-right i:hover {
   background-color: white;
   color: #000;
   border-radius: 100% 100% 100% 100%;
   padding: 35px 35px 35px 35px;
   transition: 0.5s;
   cursor: pointer;
   
    
}
.footer-right h2 
{
    font-size: 30px;
    color: white;
    height: 60px;
    font-family: 'Permanent Marker', cursive;
}

.trait
{
    height: 350px;
    color: white;
    background-color: white;
    width: 2px;
    align-items: center;
    margin: 6rem 1rem;

}
.footer-left 
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 45%;
    float: right;
    margin-top: 5rem;
}


.footer-left i 
{
    font-size: 90px;
    color: white;
    height: 130px;

    
}
#font1
{
    transform: rotate(-45deg);
}
#font2
{
    transform: rotate(45deg);
}
#font3
{
    transform: rotate(-45deg);
}
#font1:hover
{
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out 0s;
    color: yellow;
}
#font2:hover
{
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out 0s;
    color:orange;
}
#font3:hover
{
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out 0s;
    color: rgb(85, 96, 255);
}



    
}
@media all and (min-width: 1024px)
{
    nav #burger img
    {
        display: none;
    }
    header #logo img {
        width: 15%;
    }
    nav {
        width: 85%;
    }
    nav ul 
    {
        display: flex;
        justify-content: space-around; 
        float: right;
        width: 70%;
       
    }
    nav ul li {

        text-decoration: none;
        list-style: none;
        align-items: center;
        padding: 18px;
        font-family: 'Permanent Marker', cursive;


    }
    nav ul li a {
        color: rgba(255, 136, 1, 0.89);   
        font-size: 24px; 
    
    }
    nav ul li a:hover{
        text-decoration: underline;
        color: rgb(170, 154, 154);
    }

    #photo img {
        height: 90vh;
        border-radius: 25px;
    }
    .formule form input
{
   
    margin: 2rem;
}

.formule form textarea
{

    margin: 2rem;
    height: 110px;
    
}
#onebtn
{
    margin: 2rem; 
    background-color: rgb(172, 159, 159);
    

}
.uneform
{
    margin-top: 2rem;
}
#onebtn{
    padding: 25px;
}
#onebtn:hover
{
    background: rgba(255, 136, 1, 0.89);
    display: inline-block;
    padding: 25px;
    margin: 2rem;


}
.uneform
{
    background: black;
    width: 100%;
    height: 700px;
    display: inline-flex;
    margin-top: 3rem;
   
}
.footer-right
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 45%;
    padding-top: 6rem;
   
   
}
.footer-right i {
    font-size: 100px;
    color: white;
    padding-bottom: 35px;
    
}
.footer-right i:hover {
   background-color: white;
   color: #000;
   border-radius: 100% 100% 100% 100%;
   padding: 35px 35px 35px 35px;
   transition: 0.5s;
   cursor: pointer;
   
    
}
.footer-right h2 
{
    font-size: 50px;
    color: white;
    height: 100px;
    font-family: 'Permanent Marker', cursive;
}

.trait
{
    height: 500px;
    color: white;
    background-color: white;
    width: 2px;
    align-items: center;
    margin: 6rem 1rem;

}
.footer-left 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    float: right;
    margin-top: 4rem;
}


.footer-left i 
{
    font-size: 150px;
    color: white;
    height: 160px;
    
}

#font1
{
    transform: rotate(-45deg);
}
#font2
{
    transform: rotate(45deg);
}
#font3
{
    transform: rotate(-45deg);
}
#font1:hover
{
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out 0s;
    color: yellow;
}
#font2:hover
{
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out 0s;
    color:orange;
}
#font3:hover
{
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out 0s;
    color: rgb(85, 96, 255);
}
}