@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Orbitron:wght@500&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  background: url("media/parcheminBG.jpg") no-repeat center;
  background-size: cover;
}


header {
  background: black;
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
}

#logo {
  background: url("media/Kamelott2.png") no-repeat center;
  background-size: contain;
  width: 35%;
  height: 100%;
  margin: 10px;
}

#btn {
  width: 65%;
  display: flex;
  justify-content: flex-end;
  margin: 5px;
  padding: 5px;
}

#burger {
  background: url("media/iconeBurger.svg") no-repeat center;
  background-size: contain;
  width: 35px;
  height: 35px;
}

.articles {
  width: 90%;
  margin: 10px auto 10px auto;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding:5px;
  box-shadow:2px 2px 2px gray,
  -1px -1px 2px white;
}

.articles h2 {
  text-align: center;
  text-shadow: 1px 2px 2px rgb(207, 100, 0);
}

.articles img {
  max-width: 80%;
  height: auto;
  display: block;
  border-radius: 10px;
  margin: 5px auto 5px auto;
  box-shadow: 5px 5px 5px grey;
}
.articles figcaption{
  color: rgb(61, 61, 61);
  width: 80%;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
  margin: auto;
}

.articles p{
  padding: 5px;
  text-align: justify;
}


#video {
  max-width: 100%;
  margin: 5px auto 5px auto;
  display: block;
  box-shadow: 5px 5px 5px grey;
}

.audio {
  visibility: hidden;
}