@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Orbitron:wght@500&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
/* Attention : ces paramètres sont obligatoires pour que le menu soit caché en version mobile */
html,
body {
  position: relative;
  overflow-x: hidden;
}

body {
  background: url("media/parcheminBG.jpg") no-repeat center;
  background-size: cover;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: rgb(34, 34, 34);
  text-shadow: 1px 2px 3px rgb(150, 149, 149);
}

h1,
h2,
h3,
h4 {
  font-family: "MedievalSharp";
}

header {
  background: black;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
}

#logo {
  background: url("https://media.giphy.com/media/unIE0q9tcHp3Qlu4Bm/giphy.gif")
    no-repeat left;
  background-size: contain;
  width: 35%;
  height: 100%;
  margin: 20px;
}

#logo a {
  display: block;
  width: 100%;
  height: 100%;
}

/* changement du CSS pour transformation du menu en croix */
#menu-burger {
  position: absolute;
  top: 1em;
  right: 2em;
  display: inline-block;
}
#menu-burger .bar1,
#menu-burger .bar2,
#menu-burger .bar3 {
  width: 32px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

#menu-burger.clicked .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
#menu-burger.clicked .bar2 {
  opacity: 0;
}
#menu-burger.clicked .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/*mise en forme du menu glissant hors écran*/
#menu {
  position: absolute;
  top: 70px;
  right: -150px;
  bottom: 0;
  width: 100px;
  height: 15em;
  background: url("media/fondMenu.png");
  background-size: cover;
  box-shadow: -1px 5px 5px 0px #656565;
  border-radius: 0 0 0 10px;
  text-align: right;
  padding-right: 10px;
  padding-top: 15px;
  color: black;
  line-height: 3;
  transition-duration: 0.5s;
  z-index: 1;
}

.containerMain {
  padding-top: 90px;
  display: flex;
  flex-wrap: wrap;
}

/*mises en formes des classes articles*/
.articles {
  width: 300px;
  margin: 10px auto 10px auto;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 2px gray, -1px -1px 2px white;
}

.articles h2 {
  text-align: center;
  text-shadow: 1px 2px 2px rgb(207, 100, 0);
}

.articles img {
  max-width: 80%;
  height: auto;
  display: block;
  border-radius: 10px;
  margin: 5px auto 5px auto;
  box-shadow: 5px 5px 5px grey;
}
.articles figcaption {
  color: rgb(61, 61, 61);
  width: 80%;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
  margin: auto;
}

.articles p {
  padding: 5px;
  text-align: justify;
}

#séparateurActu {
  width: 80%;
  margin: 10px auto;
  height: 1px;
  background-color: #000;
}

/* intégration vidéo teaser*/
#video {
  max-width: 100%;
  height: calc (100vh - 95px);
  margin: 5px auto 5px auto;
  display: block;
  box-shadow: 5px 5px 5px grey;
}

.audio {
  visibility: hidden;
}

.persoCitation {
  text-align: center !important;
  font-size: 1.5em;
}

.uneform {
  background: url(media/lefond.jpg);
  width: 100%;
  height: 230px;
  margin-top: 1rem;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 1px auto 1px auto;
  padding-top: 1rem;
}
.footer-right i {
  font-size: 25px;
  color: white;
  order: 2;
}
#premiereprenom {
  order: 1;
  text-align: center;
}
#deuxiemeprenom {
  order: 3;
  text-align: center;
}
.footer-right i:hover {
  background-color: white;
  color: #000;
  border-radius: 100% 100% 100% 100%;
  padding: 5px 5px 5px 5px;
  transition: 0.5s;
}
.footer-right h2 {
  font-size: 15px;
  color: white;
  height: 25px;
  font-family: "Permanent Marker", cursive;
}
.trait {
  width: 80%;
  margin: 10px auto;
  height: 1px;
  background-color: #fff;
}

.footer-left {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
.footer-left i {
  font-size: 30px;
  color: white;
}
#font1:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
  color: yellow;
}
#font2:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
  color: orange;
}
#font3:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
  color: rgb(85, 96, 255);
}
#mention {
  width: 90%;
  margin: 2px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
#mention p {
  padding: 3px 3px;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

@media screen and (min-width: 640px) {
  #video {
    width: 79%;
    height: 640px;
    margin: 5px auto 5px auto;
    display: block;
    box-shadow: 5px 5px 5px grey;
  }
}

@media screen and (min-width: 1024px) {
  #menu-burger {
    display: none;
  }
  header {
    height: 90px;
  }
  #logo {
    height: 95%;
    width: 285px;
    background-size: cover;
  }
  #menu {
    position: static;
    display: flex;
    background: none;
    justify-content: flex-end;
    width: 70%;
    height: 100%;
    box-shadow: none;
    padding: auto;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
    width: 90%;
  }
  nav ul li {
    text-decoration: none;
    list-style: none;
  }
  nav ul li a {
    color: rgba(255, 136, 1, 0.89);
    font-size: 24px;
    font-weight: normal;
    font-family: "Permanent Marker", cursive;
    text-shadow: none;
  }
  nav ul li a:hover {
    text-decoration: underline;
    color: rgb(170, 154, 154);
  }

.containerMain {
  justify-content: space-around;
}

  .articles {
    width: 20%;
    margin: 2em;
  }

  .uneform {
    background: url(media/lefond.jpg);
    background-size: cover;
    height: 540px;
  }
  .mesblock {
    width: 100%;
    height: 300px;
    display: inline-flex;
    justify-content: center;
    margin-top: 5px;
  }
  .footer-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 45%;
    padding-top: 3rem;
  }
  .footer-right i {
    font-size: 50px;
    color: white;
    padding-bottom: 15px;
    order: unset;
  }
  .footer-right i:hover {
    background-color: white;
    color: #000;
    border-radius: 100% 100% 100% 100%;
    padding: 15px 15px 15px 15px;
    transition: 0.5s;
    cursor: pointer;
  }
  .footer-right h2 {
    font-size: 25px;
    color: white;
    height: 50px;
    font-family: "Permanent Marker", cursive;
  }
  #deuxiemeprenom {
    margin-top: -5px;
  }

  .trait {
    height: 300px;
    color: white;
    background-color: white;
    width: 3px;
    align-items: center;
    margin-top: 2rem;
    margin-left: 0px;
  }
  .footer-left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 50%;
  }

  .footer-left i {
    font-size: 80px;
    color: white;
    height: 100px;
  }

  #font1 {
    transform: rotate(-45deg);
  }
  #font2 {
    transform: rotate(45deg);
  }
  #font3 {
    transform: rotate(-45deg);
  }
  #font1:hover {
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out 0s;
    color: yellow;
  }
  #font2:hover {
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out 0s;
    color: orange;
  }
  #font3:hover {
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out 0s;
    color: rgb(85, 96, 255);
  }
  #mention {
    width: 50%;
    margin-top: 4rem;
  }
  #mention p {
    font-size: 20px;
  }
}
